
@imprt url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
    --preto: #02010aff;
    --azul-facu: #04052eff;
    --azul-pm: #140152ff;
    --azul-navi: #22007cff;
    --titulo: "Orbitron", sans-serif;
    --texto: 
    }